h1 {
    color: white;

}

body {
    color: white;
    background-color: rgb(35, 39, 52);
}

div {
    display: block;
}

div.artifact {
    display: block;
}

img {
    background-color: azure;
}

.banner {
    font-size: 20px;
}

li {
    font-size: 20px;
}

p {
    font-size: 20px;
}
